BasedOnStyle: LLVM
UseTab: ForIndentation
NamespaceIndentation: All
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 180
BreakBeforeBraces: Attach
SortIncludes: Never
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AllowShortFunctionsOnASingleLine: InlineOnly
